<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
     <script src="javascripts/jquery.js"></script>
    <script src="javascripts/chat.js"></script>
</head>
<body>
   Local: <br>
    <video id="localVideo" autoplay></video><br>
    Remote: <br>
    <video id="remoteVideo" autoplay></video>
</body>
</html>