<!DOCTYPE html>
<html>
<head>
  <title>视频会议</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/easyrtc/css/easyrtc.css" />

  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
  <script type="text/javascript" src="/javascripts/easyrtc.js"></script>
  <script src="http://cdn.bootcss.com/socket.io/1.3.2/socket.io.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/easyrtc/css/demo_room.css" />
  <script type="text/javascript" src="/easyrtc/js/demo_multiparty.js"></script>
</head>

<body onload="appInit()">
<div id="fullpage"  class="boxCommon" style="background-image:url(/easyrtc/images/irongrip.png)">
  <video id="box0" class="transit boxCommon thumbCommon easyRTCMirror" muted="muted" volume="0" ></video>
  <video id="box1" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>
  <video id="box2" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>
  <video id="box3" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>
  <div id="textentryBox" onsubmit="sendText()" style="display:none" >
    <input type="text" id="textentryField"  class="transit boxcommon" /><br>
    <button id="textentrySubmit" style="float:right;margin-right:1em" onclick="sendText()">Send</button>
    <button id="textentryCancel" style="float:left;margin-left:1em" onclick="cancelText()">Cancel</button>
  </div>

  <img id="killButton" class="transit boxCommon" onclick="killActiveBox()" src="/easyrtc/images/button_close.png" style="display:none;z-index:3" alt="close button" />
  <img id="muteButton" class="transit boxCommon" onclick ="muteActiveBox()" src="/easyrtc/images/button_mute.png" style="display:none;z-index:3" alt="mute button" />
  <img id="textEntryButton" class="transit boxCommon" onclick ="showTextEntry()" src="/easyrtc/images/textEntry.png" style="z-index:3;display:none" alt="text button" />
</div>
</body>
</html>
